<!-- <app-header></app-header> -->

<table mat-table [dataSource]="characters"
class="mat-elevation-z8" *ngFor="let character of characters">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> escd</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> name </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> cdsdce </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> sdecfd </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<!-- <div class="characters">
  <mat-card class="characters__card" *ngFor="let character of characters" >
    <img mat-card-image
    [src]="character.image"
    [alt]="character.name"
    >
    <mat-card-content>
      <p>{{character.name}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="primary"
       mat-flat-button
       >UPDATE</button>
      <button class="primary"
      (click)="onClick(character.id)"
      mat-flat-button>DELETE</button>
    </mat-card-actions>
  </mat-card>
</div> -->

 <!-- <form class="example-full-width" [formGroup]="createCharacter"
 (ngSubmit)="onSubmit()"
>
   <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>
</form> -->

<!-- <div class="container">
  <app-form-search></app-form-search>
</div> -->
  <!-- *ngFor="let character of characters" -->
<!-- <a [routerLink]="['/character-details', character.id]" href=""> -->
    <!-- <img mat-card-image
    [src]="character.image"
    [alt]="character.name"
    > -->
